.header {
  background: #F3EDF7;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;

  &-inner {

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 16px;

      &__langBtn,
      &__searchBtn {
        background: none;
        outline: none;
        border: none;
        font-size: 25px;
      }

      &__title {
        font-family: 'RM', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }

    &-searchArea {
      display: flex;
      justify-content: space-between;
      padding: 14px;

      &__input {
        background: none;
        outline: none;
        border: none;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        padding: 15px;
        color: #1C1B1F;
        font-family: 'RR', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;

        &::placeholder {
          color: #9D9D9D;
          text-align: left;
          font-family: 'RR', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }


      }

      &__btn {
        background: none;
        border: none;
      }
    }
  }
}
