<div class="editNote">
  <div class="editNote-inner">
    <h3 class="editNote-inner__title">{{addBtn ? 'Добавить' : 'Изменить'}} Заметку</h3>
    <input type="text" class="editNote-inner__name editNote-inner__input" placeholder="Title" [(ngModel)]="noteName">
    <input type="text" class="editNote-inner__value editNote-inner__input" placeholder="Content"
      [(ngModel)]="noteValue">
    <div class="editNote-inner-btns">
      <button class="editNote-inner-btns__cancel" (click)="closeModal(); onModalChanged()">Отмена</button>
      <button class="editNote-inner-btns__add" (click)="addNote(noteName, noteValue)" *ngIf="addBtn">Добавить</button>
      <button class="editNote-inner-btns__add" (click)="editNote(currItemIndex, noteName, noteValue)" *ngIf="!addBtn">Редактировать</button>
    </div>
  </div>
</div>
