.mainNote {
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.05) 0%, rgba(103, 80, 164, 0.05) 100%), #FFFBFE;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;

    &__title {
      color: #1C1B1F;
      font-family: 'RM', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    &__date {
      color: #CAC4D0;
      font-family: 'RR', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      margin-bottom: 16px;
    }

    &__text {
      color: #49454F;
      font-family: 'RR', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.25px;
      margin-bottom: 17px;
      width: 90%;
    }

    &-btns {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      &__edit {
        color: #6750A4;
        text-align: center;
        font-family: 'RM', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        padding: 10px 12px;
        border: none;
        background: none;
        transition: 200ms;
        display: flex;
        align-items: center;
        gap: 8px;
        @media screen and (max-width: 400px) {
          font-size: 11px;
        }
      }

      &__edit:hover {
        border-radius: 5px;
        background: #E6DDFF;
      }

      &__delete {
        color: #CF1B1B;
        text-align: center;
        font-family: 'RM', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        border: none;
        background: none;
        padding: 10px 12px;
        transition: 200ms;
        display: flex;
        align-items: center;
        gap: 8px;
        @media screen and (max-width: 400px) {
          font-size: 11px;
        }
      }

      &__delete:hover {
        border-radius: 5px;
        background: #FFE1E1;
      }

      & button img {
        @media screen and (max-width: 400px) {
          width: 15px;
        }
      }
    }
  }
}
